a:link {
	color: #060;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #3C0;
}
a:hover {
	text-decoration: underline;
	color: #0C0;
}
a:active {
	text-decoration: none;
	color: #0C0;
}

.ch_view{
	background-color: green;
	color:white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 3px 3px 3px gray;
}
.ch_vw{
	background-color:rgba(255, 99, 71, 0.1);
	margin-left: 2%;
}
.ch_vwt{
	background-color: green;
	color:white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 3px 3px 3px gray;
}

#menu1 li a:hover{
	background-color: rgba(255, 99, 71, 0.1);
	border-bottom: 1px solid green;
	border-left: 1px solid green;
	width: 80%;
}

#aligndate{
	color:white;
	font-style: italic;
}
#navigation{
	text-shadow: 2px 2px 2px gray;
}
.slide-in {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .slide-in.active {
	opacity: 1;
	transform: translateY(0);
  }

  #formback{
	background-color: rgba(255, 255, 255, 0.5);
  }
  .formback{
	background-color: rgba(214, 41, 41, 0.9);
  }
  * {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 80%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
#siteupdate{
	color:tomato;
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}